@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --primary-color: #03A9F4; /* The blue I've been using */
  --primary-dark-color: #0288D1;
  --secondary-color: #607D8B; /* The grey I've been using */
  --secondary-dark-color: #455A64;
  --text-color: #333;
  --light-bg-color: #f9f9f9;
  --dark-bg-color: #242424;
  --white-color: #fff;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white-color);
  color: var(--text-color);
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

* {
  box-sizing: border-box;
}
