# MongoDB Connection String
# Replace this with your own MongoDB connection string from a service like MongoDB Atlas.
ATLAS_URI="mongodb+srv://<username>:<password>@<cluster-url>/<database-name>?retryWrites=true&w=majority"
